<!--app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button>
<app-data-binding></app-data-binding>
<contador></contador>
<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ng-switch></app-diretiva-ng-switch>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis>
<app-exemplo-ng-content>
    <div class="titulo">Titulo ai</div>
    <div class="corpo">Corpo teste</div>
</app-exemplo-ng-content-->
<app-diretivas-customizadas></app-diretivas-customizadas>