input.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

.alert {
    margin-top: 1rem;
}

.form {
    margin-top: 1rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
}