<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="ID do Aluno" id="id" type="text" class="validate" [(ngModel)]="alunos.id">
                <label for="id">ID do Aluno</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Nome do Aluno" id="nome" type="text" class="validate" [(ngModel)]="alunos.nome">
                <label for="nome">Nome do Aluno</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Email do Aluno" id="email" type="text" class="validate" [(ngModel)]="alunos.email">
                <label for="email">Email do aluno</label>
            </div>
        </div>
    </form>
</div>
